* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.container a {
    text-decoration: none;
}
.heading {
    display: flex;
    justify-content: center;
    margin: 4rem auto 0px;
    font-family: cursive;
    font-size: 60px;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 12px;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 